# Question 22


In a jupyter notebook solve the following question using both python and SQL. Please upload the notebook to GitHub and provide the link submission box below.



| Column Name   | Type    |
|---------------|---------|
| id            | int     |
| recordDate    | date    |
| temperature   | int     |


id is the column with unique values for this table.
This table contains information about the temperature on a certain day.
 
 

Write a solution to find all dates' Id with higher temperatures compared to its previous dates (yesterday).

Return the result table in any order.

Please use the following input Weather table for your solution. To receive full marks you will need to create the database, create the table, insert the data below and execute the SQL query.

 

Input: 
Weather table:
| id | recordDate | temperature |
|----|------------|-------------|
| 1  | 2015-01-01 | 10          |
| 2  | 2015-01-02 | 25          |
| 3  | 2015-01-03 | 20          |
| 4  | 2015-01-04 | 30          |

Output: 
| id |
|----|
| 2  |
| 4  |

Explanation: 
* In 2015-01-02, the temperature was higher than the previous day (10 -> 25).
* In 2015-01-04, the temperature was higher than the previous day (20 -> 30).

In [1]:
import sqlite3

#Creating connection to the SQLLite DB
conn = sqlite3.connect('weather.db')
cur = conn.cursor()

#Creating the Weather table with IF NOT EXISTS syntax
cur.execute('''
    CREATE TABLE IF NOT EXISTS Weather (
        id INT PRIMARY KEY,
        recordDate DATE,
        temperature INT
    )
''')

#Inserting data into the weather table
cur.executemany('''
    INSERT INTO Weather (id, recordDate, temperature)
    VALUES (?, ?, ?)
''', [(1, '2015-01-01', 10), (2, '2015-01-02', 25), (3, '2015-01-03', 20), (4, '2015-01-04', 30)])

#Execute SQL Query to find out the highest temp.

cur.execute('''
    SELECT
        w1.id
    FROM
        Weather w1
    LEFT JOIN
        Weather w2 ON w1.id = w2.id + 1
    WHERE
        (w1.temperature > w2.temperature OR w2.id IS NULL)
        AND w2.temperature IS NOT NULL
''')

#Fetching the results and first column ID field
result = cur.fetchall()
for row in result:
    print(row[0])

#Close the DB connection
conn.close()

2
4